@import url("./basic.css");

.btn {
  border: 1px solid #dacec6;
  background-color: var(--bg-button);
  color: var(--color-broun);
  display: inline-block;
  text-align: center;
}
.header {
  padding-top: 39px;
  padding-bottom: 40px;
}
.btn-0 {
  padding: 8px;
  margin-left: 8px;
  background-color: var(--bg-card);
  background-color: #e7ded8;
  color: var(--color-broun);
  border: none;
}
.nav {
  color: #222222;
}
.main-title {
  font-weight: 300;
  font-family: "STSong";
  font-size: 88px;
}
.main-title-br {
  font-size: 0.92em;
}
.main-wrapper {
  position: relative;
  padding-top: 150px;
  padding-bottom: 290px;
  max-width: calc(var(--container-width) / 2 + var(--basic-space));
  margin-left: 50px;
}
.btn-1 {
  margin-top: 47px;
  padding: 13px 21px;
}
.you {
  color: var(--color-broun);
  font-family: "StyleScript";
  transform: rotate(5.54deg);
  font-size: 175px;
  position: absolute;
  top: 50%;
  right: 50%;
}
.first-section {
  background-image: url("../images/IMAGE.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
.text-center {
  text-align: center;
  padding-top: 225px;
  padding-bottom: 240px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.script-rotate {
  font-family: "StyleScript";
  transform: rotate(-5.08deg);
  color: var(--color-broun);
  font-size: 137px;
}
.second-title {
  font-size: 65px;
  font-weight: 300;
  font-family: "STSong";
  max-width: 500px;
  margin: auto;
}
.second-title-br {
  font-size: 0.92em;
}
.description {
  margin-top: 18px;
}
.btn-pd {
  border-radius: 73px;
  margin-top: 18px;
  padding: 13px 21px;
}
.img-1 {
  position: absolute;
  top: 89px;
  left: -300px;
}
.img-2 {
  position: absolute;
  left: -250px;
  bottom: 200px;
}
.img-3 {
  position: absolute;
  left: 650px;
  top: 18px;
}
.img-4 {
  position: absolute;
  right: -250px;
  top: 250px;
}
.img-5 {
  position: absolute;
  right: -210px;
  bottom: 120px;
}
.products {
  text-align: center;
  margin-top: 90px;
}
.script-title {
  font-family: "StyleScript";
  color: var(--color-broun);
  font-size: 137px;
  font-style: normal;
}
.products-h2 {
  font-family: "STSong";
  font-style: normal;
  font-weight: 300;
  font-size: 65px;
  margin-bottom: 50px;
}
.wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-card {
  background: #e7ded8;
  border-radius: 10px;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 360px;
  margin: 0 auto;
}
.card-wrapper {
  padding: 10px;
  flex-wrap: wrap;
}
.btn-product {
  border-radius: 5px;
  text-align: center;
  padding: 12px 117px;
  margin-top: 41px;
  display: inline-block;
}
.card-description {
  margin-top: 6px;
  font-size: 19px;
}
.prise {
  font-size: 14px;
}
.card-title {
  font-family: "STSong";
  font-weight: 300;
  font-size: 70px;
  max-width: 439px;
  margin: auto;
}
.feature-title {
  text-align: center;
  margin-top: 90px;
}
.img-feature {
  margin-top: 123px;
  border-radius: 10px;
}
.feature-description {
  margin-top: 25px;
  margin-bottom: 39px;
  font-size: 17px;
}
.btn-2 {
  padding: 13px 21px;
  max-width: 144px;
  display: flex;
  align-items: center;
}
.some {
  margin: 106px 0 80px;
}
.some-text {
  width: 1200px;
  margin: auto;
}
.text-style {
  font-size: 28px;
  text-align: center;
  padding: 40px 0;
}
.logotips {
  max-width: 700px;
  margin: auto;
  padding-top: 66px;
  margin-bottom: 209px;
}
.foto {
  margin-bottom: 100px;
}
.card-1 {
  background-image: url("../images/IMAGE-12.png");
  background-repeat: no-repeat;
  width: 33.3%;
  background-size: cover;
}
.card-2 {
  background-image: url("../images/IMAGE-13.png");
  background-repeat: no-repeat;
  width: 33.3%;
  background-size: cover;
}
.card-3 {
  background-image: url("../images/IMAGE-14.png");
  background-repeat: no-repeat;
  width: 33.3%;
  background-size: cover;
}
.white-title {
  border: white solid 1px;
  height: 150px;
  width: 150px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-top: 65px;
  margin: auto;
}
.title-blog {
  font-family: "STSong";
  font-style: normal;
  font-weight: 300;
  font-size: 66px;
  line-height: 98px;
  text-align: center;
  margin-bottom: 51px;
}
.blog-description {
  font-family: "STSong";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  flex-grow: 1;
}
.gap-88 {
  gap: 88px;
}
.gap-30 {
  gap: 30px;
}
.blog-btn {
  border-radius: 166px;
  padding: 13px 21px;
  margin: 15px 0;
}
.blog-content {
  flex-direction: column;
  align-items: last baseline;
  max-width: 269px;
}
footer {
  margin-top: 127px;
  border-radius: 10px;
  background-color: var(--bg-card);
}
.footer-wrapper {
  padding-bottom: 50px;
  padding-top: 50px;
}
.title-card-footer {
  font-family: "STSong";
  font-weight: 300;
  font-size: 24px;
  line-height: 39px;
  margin-bottom: 29px;
}
.nav-list {
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}
.nav-2 {
  max-width: 251px;
}
.footer-card-2 {
  flex-grow: 1;
}
.footer-card-3 {
  flex-grow: 1;
}
.footer-card-4 {
  flex-grow: 1;
}
.footer-card-1 {
  flex-grow: 1;
  max-width: 160px;
}
.gap-128 {
  gap: 128px;
}
.nav-list li {
  margin-bottom: 9px;
}
.color-broun {
  color: var(--color-broun);
}
.card-1-text {
  margin-top: 21px;
}
.card-1-text2 {
  margin-top: 57px;
}
.gap-53 {
  gap: 53px;
}
.socials {
  margin-top: 71px;
}
.display-block {
  margin-top: 39px;
  display: block;
}
.flex-col {
  flex-direction: row;
}
.flex-col-w {
  flex-direction: column;
}

@media (max-width: 1024px) {
  .wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main-title {
    font-size: 58px;
  }
  .you {
    font-size: 95px;
  }
  .text-center {
    width: 500px;
    padding-top: 125px;
    padding-bottom: 140px;
  }
  .script-rotate {
    font-size: 87px;
  }
  .script-title {
    font-size: 87px;
  }
  .title {
    font-size: 87px;
  }
  .second-title {
    max-width: 700px;
  }
  .second-title-br {
    max-width: 700px;
  }
  .description {
    margin-top: 18px;
  }
  .some-text {
    width: 700px;
  }
  .btn-pd {
    border-radius: 73px;
    margin-top: 18px;
    padding: 13px 21px;
  }
  .img-1,
  .img-2,
  .img-2,
  .img-3,
  .img-4,
  .img-5 {
    display: none;
  }
  .text-style {
    font-size: 17px;
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .you {
    font-size: 55px;
  }
  .main-title-br {
    font-size: 0.92em;
  }
  .main-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .text-center {
    width: 380px;
    padding-top: 55px;
    padding-bottom: 60px;
  }
  .script-rotate {
    font-size: 37px;
  }
  .second-title {
    font-size: 45px;
  }
  .second-title-br {
    font-size: 0.92em;
  }
  .description {
    margin-top: 18px;
  }
  .btn-pd {
    border-radius: 73px;
    margin-top: 18px;
    padding: 13px 21px;
  }
  .flex-col {
    flex-direction: column;
  }
}
